$color_first: rgb(6, 184, 216);

.categories{
    display: block;
    ul{
        padding-top: 30px;
        li{
            display: inline;
            font-size: 18px;
            padding: 18px;
            a:hover{
                color: $color_first;
            }
        }
    }
}

@media (max-width: 1170px){
    .categories{
        display: none;
    }
}